//COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #828451;

$color-secondary: #101d2c;
$color-secondary-light: #1e79ae;


$color-grey-light-1: #f9f7f6;
$color-grey-light-2: gray;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #605d4b;

//FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


// responsive breakpoint

$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-mediumer: 56.25em; // 900px
$bp-medium: 50em;   // 800px
$bp-small: 46.87em;   // 750px
$bp-smaller: 37.5em;   // 600px
$bp-phone: 28.13em;   // 450px
$bp-phone2: 21.8em;   // 350px

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-large){
       
         font-size: 50%;
    }


}

body{
    line-height: 1.6;
}

.container{
    // padding: 30px;
    background: #151515;
    display: grid;
    grid-row-gap: 5px ;
    grid-column-gap: 5px ;
    grid-template-rows: 8vw repeat(4, min-content);
    
    grid-template-columns:
 [sidebar-start] 25vh [sidebar-end full-start] 1fr repeat(4, minmax(min-content,15rem))1fr[full-end];


 @media only screen and (max-width: $bp-large){
       

    grid-template-rows: 8vw repeat(4, min-content);
    


}

@media only screen and (max-width: $bp-small){
       
grid-template-rows: repeat(5 , min-content);

}
@media only screen and (max-width: $bp-smaller){
   grid-row-gap: 0px;
}

}