.card{
    background-image: linear-gradient(rgba(#101d2c, .20), rgba(#101d2c, .20));
    grid-column: full-start / full-end;



    display: grid;
    grid-template-rows: min-content 1fr;

    @media only screen and (max-width: $bp-small){
       
      grid-column: 1 /-1;
   
       }

    
}

 .cardShell{
      
            margin: 10rem 10rem;
        

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            grid-gap: 5rem;


        @media only screen and (max-width: $bp-phone){
        
 
           margin: auto;
           
               }
          

            &__cards{
        
                width: 200px;
                height: 250px;
             


                border-radius: 5px;
                transition: all .3s;
                backface-visibility: hidden;
                overflow: hidden;
                background-image: linear-gradient(to right, lightblue , blue);
        
                -webkit-background-clip: text;
                color: transparent;
                cursor: pointer;
        box-shadow: #101d2c 1.95px 1.95px 2.6px;
             
        @media only screen and (max-width: $bp-medium){
         width: 160px;
         height: 220px;
    
    }
    

               
   
              }
              
  &__cards:hover{
    transform: translateY(-10px);
  }
    
      &__cardPics{

       background-size: cover;
        max-width: 100%;
        height: 80%;
         filter: brightness(80%);
        //  background-blend-mode: screen;
         transition: cubic-bezier(.45,.88,.61,-0.4);
         clip-path: circle(70.5% at 24% 16%);
      }

      &__cardText{

    display: flex;
    justify-content: space-around;


      }
}
