.features{
    grid-column: full-start / full-end;
    
   
 background-image: linear-gradient(rgba(#101d2c, .90), rgba(#101d2c, .90)), url(..//img/gal-9.jpeg) ;
 background-repeat: no-repeat;

 background-size: cover;
 
    display: grid;
    grid-template-rows: repeat(3, min-content) 10rem;
    
    grid-row-gap: 1rem;   
    color: #aba8a8;
 

    @media only screen and (max-width: $bp-small){
       
      grid-column: 1 /-1;
      grid-row: 2 / span 2;
   
       }



}


.feature{
    color: #aba8a8;
    font-size: 1.5rem;
    padding: 25px;
    letter-spacing: .5px;

     font-family: Helvetica;

     animation-name: moveInBottom;
     animation-duration: 5s;
     animation-delay: .5s;




     &__head--a{ 
      font-family: Helvetica;
        font-size: 4rem;
        background-image: linear-gradient(to right, #aba8a8,$color-secondary-light);;
        -webkit-background-clip: text;
        color: transparent;
         padding: 25px;
         margin-top: 5rem;
  

         display: grid;
         justify-content: center;
         transition: all .2s;
         letter-spacing: 4px;

         animation-name: moveInBottom;
         animation-duration: 3s;
         animation-delay: .3s;


         @media only screen and (max-width: $bp-medium){
            font-size: 3.5rem;
      
      }
      
      @media only screen and (max-width: $bp-smaller){
         font-size: 3rem;
      }
      @media only screen and (max-width: $bp-phone){
         font-size: 2.5rem;
    }
   


     }
     &__head--b{
        font-size: 3rem;     
        letter-spacing: 2.5px;
  
        padding: 25px;
    
         font-family: Helvetica;
  
  

         animation-name: moveInBottom;
         animation-duration: 3s;
         animation-delay: .3s;

         @media only screen and (max-width: $bp-medium){
            font-size: 3rem;
      
      }
      
      @media only screen and (max-width: $bp-smaller){
           font-size: 2rem;
      }

      @media only screen and (max-width: $bp-phone2){
         font-size: 1.8rem;
    }
   

     }


     &__head--c{
        font-size: 2rem;     
        color: #aba8a8;
        padding: 2px;
            //    margin-top: 10rem;
    
         font-family: Helvetica;
         
         @media only screen and (max-width: $bp-smaller){
           font-size: 1.5rem;
         }
         @media only screen and (max-width: $bp-phone){
            font-size: 1.2rem;
          }
    
     }
     &__icon{
        font-size: 3rem;

        display: grid;
        justify-items: center;
        align-content: center;

        grid-template-columns: repeat(4, 1fr);
      
        @media only screen and (max-width: $bp-medium){
         font-size: 3rem;
   
   }

     }

}

